node_modules
docs

coverage/*
*.bak
*.tgz
*.md.bak
*.d.ts.map
*.bak
gen/**
gen/*
info.lcov
logs
gen_cov
coverage/**
testmodel/*.bak
testmodel/graph/*
testmodel/*.gv
model_raw_old/*.gv
model_raw_old/testmodel2/graph/*
testmodel2/graph/*
testmodel2/*.gv
testmodel2/*.bak
sensitive
regress/runs/20*
sensitive/data.js
# we check in gen for coveralls source references
