node_modules
*.tgz
logs
*.bak
*.lcov


docs

.eslintrc.json
.npmignore
.gitignore
.travis.yml
guplfile.js

src
test
**/*.map




testmodel
outpu*
testmodel2
**/*.bak
gen_tsc
info.lcov
logs
testmodel/*
sensitive
tsconfig.json
tmp.json.zip
README.md
guplfile.js
