node_modules
*.tgz
logs
*.bak
*.lcov


docs

.eslintrc.json
.npmignore
.gitignore
.travis.yml
gulpfile.js
.vscode/*

src
test
**/*.map


env*.cmd
test*
oo.txt
post_sort

testmodel
outpu*
testmodel2
**/*.bak
gen_tsc
info.lcov
logs
testmodel/*
sensitive
tsconfig.json
tmp.json.zip
README.md
guplfile.js
