node_modules
*.tgz
docs
logs
*.bak
*.lcov
coverage/*
*.md.bak
**/*.bak
*.txt
**/*.d.ts.map
docs
logs
src
test
testmodel2
outpu
outpu*
tsconfig.json
README.md
.eslintrc.json
.npmignore
.gitignore
.travis.yml
gulpfile.js
.vscode/*

src
test
**/*.map

*.txt
*.tt
resources/model/shouldrecognize.txt
env*.cmd
test*
oo.txt
post_sort

testmodel
outpu*
testmodel2
**/*.bak
gen_tsc
info.lcov
logs
testmodel/*
sensitive
tsconfig.json
tmp.json.zip
README.md
guplfile.js
